<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!-- 
   New Perspectives on XML
   Tutorial 4
   Case Problem 2
   Chester's Restaurant oatmeal

   Author:    Kevin Morales
   Date:      10/4/2021   

   Filename:         menu.xml
   Supporting Files: menu.css, menu.xsd, recipe.css, recipe.xsd
-->

<menuItem xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
		  xmlns="http://example.com/chestershartland/menu"
		  xs:schemaLocation="http://example.com/chestershartland/menu menu.xsd">
   <itemName>Oatmeal Breakfast</itemName>
   <description>
   <![CDATA[Our oatmeal is served warm with fresh fruit, pecans, raisins,
      and 100% maple syrup. Available all day.
   ]]>
   </description>
   <price>6.95</price>
   <icon>&#9824;</icon>  
   <icon>&#9829;</icon>
   
</menuItem>

